# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Variables
*.tfvars
!terraform/environments/dev/terraform.tfvars.example

# Logs
crash.log
crash.*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
